body{
    background-image: linear-gradient(to right, #edf6e8, #f8edd2, #f6d7d8);
}
.col-md{
    padding: 3rem;
    border: 3px solid #fff;
    background-color: rgb(200, 169, 129);
    
}

.logo {
    width: 50px; /* Đặt chiều rộng */
    height: auto; /* Tự động tính chiều cao dựa trên tỷ lệ khung hình gốc */
    margin-top: 10px; /* Đặt khoảng cách từ trên xuống */
    margin-left: 20px; /* Đặt khoảng cách từ trái qua */
    border: 1px solid #000; /* Thêm viền đen với độ rộng 1px */
    border-radius: 5px; /* Bo góc ảnh */
  }
  .introduce {
    padding-top: 50px;
    padding-bottom: 50px;
    margin: 0 auto;
    text-align: center;
    font-family: Helvetica, Arial, sans-serif;
  }
  .sale-product {
    width: 100%;
    clear: both;
    padding-left: 125px;
   
    
   }
  .sale-product .card , .Best-seller .card {
    float: left;
  margin-right: 10px;
  }
  .Best-seller {
    width: 100%;
    clear: both;
    padding-left: 100px;
  }