body{
    background-image: linear-gradient(to right, #edf6e8, #f8edd2, #f6d7d8);
}
.col-md{
    padding: 3rem;
    border: 3px solid #fff;
    background-color: rgb(200, 169, 129);
    
}

.logo {
    width: 50px; /* Đặt chiều rộng */
    height: auto; /* Tự động tính chiều cao dựa trên tỷ lệ khung hình gốc */
    margin-top: 10px; /* Đặt khoảng cách từ trên xuống */
    margin-left: 20px; /* Đặt khoảng cách từ trái qua */
    border: 1px solid #000; /* Thêm viền đen với độ rộng 1px */
    border-radius: 5px; /* Bo góc ảnh */
  }
  .introduce {
    padding-top: 50px;
    padding-bottom: 50px;
    margin: 0 auto;
    text-align: center;
    font-family: Helvetica, Arial, sans-serif;
  }
  .sale-product,.item {
    width: 100%;
    clear: both;
    padding-left: 125px;
   }
  .sale-product .card , .Best-seller .card ,.card{
    float: left;
  margin-right: 10px;
  }
  .Best-seller, .item {
    width: 100%;
    clear: both;
    padding-left: 100px;
  }
.orange{
  color: #ef683a;
  
}
#banner {
  width: 100%;
  padding: 50px 0 50px 0;
}

#search {
  font-size: 20px; 
  color: #f49da0; 
  width: 60px;
}

#themebutton {
  font-size: 20px;
  width: 60px;
  color: #f49da0; 
  margin-left: 10px;
}

#tb {
  padding: 10px 10px 10px 10px;
}
/* Trang Sản Phẩm */
.cart_page {
  padding: 75px 0 0 0;
}
.select-Item div  {
  width: 100%;
  transition: all 0.25s ease-in-out;
  cursor: pointer;
}

.name-item-font:hover {
  color:orangered;
  cursor: pointer; /*di chuột lên tên sản phẩm thì đổi màu tên sản phẩm*/
}
.btn-primary {
  visibility: hidden;
}
div.card:hover .btn-primary {
  visibility: visible;
}
div.card{
  margin:10px;
  border: 4px solid rgba(0,0, 0, 0);
}
div.card:hover {
  border:4px solid #d2c8b3;
}
.card-title:hover {
  color:orangered;
  cursor: pointer; /*di chuột lên tên sản phẩm thì đổi màu tên sản phẩm*/
}
div.card:hover .card-body {
  transform: scale(1.1);
}
div.card:hover img {
  transform: scale(0.95);
}
.order-step { 
  margin-bottom:5px;
  width:80%; 
  text-align: center; 
  margin: 10px;
}
.order-step div {
  border:1px solid #ed4190;
  border-radius: 5px;
  padding-top:5px; 
  display:inline-block;
}
body > .container {
  padding: 60px 15px;
}
/* footer */
.social{
  display:flex
}
.social a {
  display: flex;
  width: 40px;
  height: 40px;
  text-align: center;
  font-size: 30px;
  border-radius: 30px;
  margin: 4px 5px;
}
.social a:hover {
  scale: 1.2;
  transition: 0.45s;
  border: 4px solid #dfb24f;
}
.atm img {
  width: 30%;
}
.atm {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 300px;
  gap: 10px;
}
.atm-content{
  text-align: center;
  margin-bottom: 4px;
}
.unorderlist{
  list-style-type: none; /* Tạo 1 unorderlist không có dấu chấm mặ định */
}
#footer{
  background-color: rgb(242, 213, 192);
}
footer .gotop {
  position: fixed;
  bottom: 5px;
  right:10px;
  z-index:100;
}
.box-content{
  display: flex;
  margin: 80px  ;
  margin-top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.detail{
  text-align: justify ;
}
/* Hướng dẫn mua hàng */
.order-step{
  padding-left: 125px;
  width:var(--item);
  padding-left: var(--item);
  margin-left:var(--item)
}
.step{
  width: var(--card);
}
/* kí hiệu trở về đầu trang web */
header .home a {
  position: fixed;
  right: 2%;
  bottom: 3%;
  font-size: 3rem;
  color:orange;
}

header .home a:hover {
  color:rgb(230, 169, 56);
}
